name: Makefile CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Install apt packages
      working-directory: ./tests
      run: xargs -a apt_requirements.txt sudo apt-get install -y

    - name: Install Python dependencies
      uses: py-actions/py-dependency-install@v3
      with: 
        path: "tests/pip_requirements.txt"
      
    - name: Run tests
      working-directory: ./tests
      run: ./run_all_tests.sh

